* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  padding: 32px 125px; 
}

.hero-container {
  width: 100%;
  display: flex;
  gap: 24px;
}

.sidebar {
  width: 280px;
  min-width: 280px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 20px;
  border-bottom: 1px solid #f3f3f3;
}

.sidebar-header svg {
  color: #ff7a00; 
}

.sidebar-header span {
  color: #1f1f1f; 
  font-size: 18px;
  font-weight: 700;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  transition: .2s;
}

.category-item:hover {
  background: #fff6ef;
}

.category-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.category-icon {
  width: 18px;
  height: 18px;
  color: #555; 
}

.category-arrow {
  width: 16px;
  height: 16px;
  color: #bbb;
}

.hero-banner {
  flex: 1;
  height: 415px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 60px;
  background:
    linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url("../../assets/photo_2026-07-03_10-07-25.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  color: #fff;
  max-width: 520px;
}

.hero-tag {
  display: inline-block;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 4px;
  background-color: #F47B25;
  margin-bottom: 15px;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.hero-btn {
  width: 125px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background: #fff;
  color: #ff7a00;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

.hero-btn:hover {
  background: #ff7a00;
  color: #fff;
}

@media (max-width: 1024px) {
  .hero {
    padding: 24px 75px; 
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 24px 65px; 
  }
  
  .hero-container {
    flex-direction: column;
  }
  .sidebar{
    display: none;
  }

  .sidebar {
    width: 100%;
  }

  .hero-banner {
    height: 300px;
    padding: 30px;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-btn {
    width: 110px;
    height: 42px;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .hero {
    padding: 16px 16px; 
  }
}